annotated-types==0.7.0
anyio==4.12.1
asn1crypto==1.5.1
boto3==1.42.66
botocore==1.42.66
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.5
cryptography==46.0.5
dotenv==0.9.9
filelock==3.25.2
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
jmespath==1.1.0
jsonpatch==1.33
jsonpointer==3.0.0
langchain-core==1.2.18
langchain-text-splitters==1.1.1
langsmith==0.7.16
orjson==3.11.7
packaging==26.0
pdfminer.six==20251230
pdfplumber==0.11.9
pillow==12.1.1
platformdirs==4.9.4
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
PyJWT==2.11.0
pyOpenSSL==25.3.0
pypdfium2==5.6.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2026.1.post1
PyYAML==6.0.3
requests==2.32.5
requests-toolbelt==1.0.0
s3transfer==0.16.0
six==1.17.0
snowflake==1.12.0
snowflake-connector-python==4.3.0
snowflake._legacy==1.0.2
snowflake.core==1.12.0
sortedcontainers==2.4.0
tenacity==9.1.4
tomlkit==0.14.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
uuid_utils==0.14.1
xxhash==3.6.0
zstandard==0.25.0
